<html xmlns="http://www.w3.org/1999/html">
<body>
<style>
body {
    font-family: Arial, Geneva, Helvetica, sans-serif;
}

.bad_message {
width: 100%;
background-color: coral;
}

.good_message {
    width: 100%;
    background-color: #DAF7A6;
    transition: 1s;
    left: 0;
}


h2 {
    color: IndianRed;
}

h4 {
    margin-bottom: 1em;

}

form {

}

.cameras {
  overflow-y: scroll;
  height: 80%;
   width:80%;
    float: right;
}

.current {
background-color: #BBBBBB;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(auto, auto);
  font-size: 80%;
   }

.wrapper div {
    min-width: 10em;
    border-radius: 0.1em;
    background-color:  #85c1e9 ;
    padding: 0.5em;
    margin: 0.5em;
}

.uploading {
    background-color: #FFC300;
}

.wrapper div img {
    max-width: 100%;
}


.failed {
    background-color: coral !important;
}

.weak {
    background-color:  #f8c471  !important;
}

.good {
    background-color:  #DAF7A6  !important;
}

.commands {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);
   }

.menu {
  width: 20%;
    float: left;
}


.circle {
  display: grid;
  grid-template-columns: repeat({{ordered|count}}, 1fr);
  grid-gap: 0.1em;
  grid-auto-rows: minmax(auto, auto);
   }

.circle div {
    min-width: 12em;
    border-radius: 0.5em;
    background-color:  #85c1e9 ;
    padding: 0.1em;
    margin: 1em;
}


.circle div img {
    max-width: 12em;
}

.takes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(auto, auto);
  font-size: 80%;
   }


p:not(:last-child) {
  margin: 0 0 20px;
}

main {
  margin-left: 40px;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

input.vtab {
    display:none;
}

label.vtab {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

label.vtab:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1'].vtab:before { content: '\f1cb'; }
label[for*='2'].vtab:before { content: '\f17d'; }
label[for*='3'].vtab:before { content: '\f16c'; }
label[for*='4'].vtab:before { content: '\f171'; }

label.vtab:hover {
  color: #789;
  cursor: pointer;
}

input.vtab:checked + label {
  color: #0af;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

    @media screen and (max-width: 500px) {
      label {
        padding: 15px;
      }
    }
}

</style>
<noscript>
    <div style="border: 1px solid purple; padding: 10px">
        <span style="color:red">JavaScript is not enabled!</span>
    </div>
</noscript>

{% if bad_message %}
    <div class="bad_message">{{bad_message}}</div>
{% endif %}
{% if good_message %}
    <div class="good_message">{{good_message}}</div>
{% endif %}

<h2>Voltf Node Server</h2>
<form>
    <div class="cameras">
        <main>
            <input id="tab1" type="radio" name="tabs" class="vtab" checked>
            <label for="tab1"  class="vtab">Rig</label>

            <input id="tab2" type="radio" name="tabs"  class="vtab" >
            <label for="tab2"  class="vtab">Take</label>

            <input id="tab3" type="radio" name="tabs"  class="vtab" >
            <label for="tab3"  class="vtab">Details</label>

            <section id="content1">

                <input type="checkbox" onClick="toggle(this)" checked/> All {{cameras|count}} Cameras ({{aligned|count}} aligned)<br/>
                <button type="submit" formaction="{{server_url}}/cameras/rotate90">rotate 90</button>
                <button type="submit" formaction="{{server_url}}/cameras/rotate90neg">rotate -90</button>
                <button type="submit" formaction="{{server_url}}/cameras/rotate180">rotate 180</button>

                <div class="wrapper">
                    {% for camera in cameras %}
                    <div class="{{camera.alignment}} {% if camera.upload %}uploading{% endif %}">
                        <img src="{{camera.thumbnail}}"/><br>
                        alignment: {{camera.alignment}} ({{camera.aligned_points}} points)<br>
                        last state: {{camera.status}}<br>
                        last command: {{(now-camera.last_seen)|humanize()}}<br>
                        <input type="checkbox" id="{{camera.id}}" name="camera" value="{{camera.id}}" checked>
                        <label for="{{camera.id}}">
                            {{ camera.position }}
                            {% if camera.name %}
                                #{{camera.id}} = {{camera.name}}
                            {% else %}
                                Camera #{{camera.id}}
                            {% endif %}
                        </label><br/>
                    </div>
                    {% else %}
                    <p>No cameras registered yet. Install voltfnode app on phone.</p>
                    {% endfor %}
                </div>
            </section>

            <section id="content2">
                {% if voltf.videos %}
                    <input type="checkbox" onClick="toggle(this)" checked/> All {{voltf.videos|count}} Tracks | {{voltf.images|count}} images | {{(voltf.images|count)/(voltf.videos|count)}} frames<br/>
                {% else %}
                    <input type="checkbox" onClick="toggle(this)" checked/> All {{voltf.videos|count}} Tracks<br/>
                {% endif %}

                <button type="submit" formaction="{{server_url}}/cameras/savevoltf">save voltf</button>
                <button type="submit" formaction="{{server_url}}/cameras/alignfps"  onclick = "return confirm('Align fps (can take space and a long time)?');">align fps</button>

                <button type="submit" formaction="{{server_url}}/cameras/videosnapshotpsx"  onclick = "return confirm('Generate psx from single frame?');">psx current frame</button>

                <button type = "submit" value = "{{trackDuration}}" onclick = "return getTrackDuration();" formaction="{{server_url}}/cameras/generateimages">generate images</button>
                <input type="text" id="trackDuration" name="trackDuration" value="{{trackDuration}}" size="6" hidden>

                <br>
                <button type = "submit" id="btnUpdateIn" value ="" onclick = "return update_in_video_times();">update in-points</button><br>

                <div class="wrapper">
                    {% for video in voltf.videos %}
                    <div>
                        <video width="100%" name="video" controls="controls">
                            <source src="takes/{{video.path}}#t={{video.in_point_seconds}}" type="video/mp4">
                        </video><br>
                        <input type="checkbox" id="video{{loop.index}}" name="video{{loop.index}}" value="{{loop.index}}" checked>
                        <label for="video{{loop.index}}">
                            {% if video.name %}
                            #{{loop.index}} = {{video.name}}
                            {% else %}
                            Video #{{loop.index}}
                            {% endif %}
                            ({{video.fps}} fps)
                        </label><br/>
                        <p>{{video.path}}</p>
                        <input type="text" id="in_point{{loop.index}}" name="in_point[]" value="{{video.in_point}}" size="6" hidden>

                        <label for="in{{loop.index}}">in point (ms)</label>
                        <input type="text" id="in{{loop.index}}" name="in" value="{{video.in_point_seconds}}" size="6"><br/>

                    </div>
                    {% else %}
                    <p>No project file to edit. Please generate 'voltf from videos'</p>
                    {% endfor %}
                </div>
            </section>

           <section id="content3">
                <div class="wrapper">
                    {% for camera in cameras %}
                    <div class="{{camera.alignment}} {% if camera.upload %}uploading{% endif %}">
                        <img src="{{camera.thumbnail}}"/><br>
                        internal: {{camera.internal|humanize('naturalsize', binary=True) }}<br>
                        external: {{camera.external|humanize('naturalsize', binary=True) }}<br>
                        version: {{camera.version}}<br>
                    </div>
                    {% endfor %}
                </div>
           </section>

            <!--section id="content3">
                <div class="circle" ondrop="drop_handler(event)" ondragover="dragover_handler(event)">

                    {% for camera in ordered %}
                    <div id="ordered{{loop.index}}" draggable="true" ondragstart="dragstart_handler(event)">
                        <img src="{{camera.thumbnail}}"/><br>
                        <p>
                            {% if camera.name %}
                                #{{camera.id}} = {{camera.name}}
                            {% else %}
                                Camera #{{camera.id}}
                            {% endif %}
                        </p>
                        <p>{{camera.order}}</p>

                    </div>
                    {% else %}
                    <p>No cameras registered yet. Install voltfnode app on phone.</p>
                    {% endfor %}
                </div>
        </section-->

        </main>
    </div>
    <div class="menu">
    <h4>Camera Rig</h4>
    <div class="commands">
      <button type="submit" formaction="{{server_url}}/">refresh</button>
        <span></span>
      <button type="submit" formaction="{{server_url}}/cameras/alignment">check alignment</button>
      <span></span>
        <!--button type="submit" formaction="{{server_url}}/cameras/videointent">open video recorder</button-->

        <!--button type="submit" formaction="{{server_url}}/cameras/cameraintent">open camera</button-->
        <!--button type="submit" formaction="{{server_url}}/cameras/videointentstart">send start video</button-->
        <!--button type="submit" formaction="{{server_url}}/cameras/videointentstart">send stop video</button-->
        <button type="submit" formaction="{{server_url}}/cameras/videointent30">30 second record</button>

        <button type = "submit" value = "{{duration}}" onclick = "return getDuration();" formaction="{{server_url}}/cameras/videointent">record</button>
        <input type="text" id="duration" name="duration" value="{{duration}}" size="6" hidden>

      <!--button type="submit" formaction="{{server_url}}/cameras/on">turn on cameras</button-->
      <!--button type="submit" formaction="{{server_url}}/cameras/off">turn off cameras</button-->
      <!--button type="submit" formaction="{{server_url}}/cameras/start">start record</button-->
      <!--button type="submit" formaction="{{server_url}}/cameras/stop">stop record</button-->
      <button type="submit" formaction="{{server_url}}/cameras/uploadvideo">pull videos</button>
        <button type="submit" formaction="{{server_url}}/cameras/uploadstatic">pull static</button>
        <button type="submit" formaction="{{server_url}}/cameras/unregister" onclick="return confirm('Unregister cameras?');">unregister cameras</button>
        <button type="submit" formaction="{{server_url}}/cameras/waiting" onclick="return confirm('Reset camera status?');">reset camera instructions</button>
        <button type="submit" formaction="{{server_url}}/">list videos on device</button>
        <button type="submit" formaction="{{server_url}}/cameras/fake">fake cameras</button>
        <button type="submit" formaction="/cameras/stoppolling" onclick="return confirm('Turn off polling?');">turn off polling</button>

    </div>
        <br>
        <p>Last take: {{current_take_neat}}
        </p>
    <div class="commands">
      <button type="submit" formaction="{{server_url}}/cameras/snapshot">take snapshot</button>
      <button type="submit" formaction="{{server_url}}/cameras/uploadshot">upload snapshot images</button>


        <button type = "submit"  onclick = "return getSnapshotName();" formaction="{{server_url}}/cameras/storesnapshot">save snapshot</button>
        <input type="text" id="snapshotname" name="snapshotname" value="{{current_time_neat}}" size="6" hidden>


      <button type="submit" formaction="{{server_url}}/cameras/selfie">take selfie</button>

      <button type="submit" formaction="{{server_url}}/cameras/abort" onclick="return confirm('Delete last video off cameras?');">abort recordings</button>
      <span></span>

    </div>
    <h4>Volumetric Scene</h4>
    <div class="commands">
        <!--button type="submit" formaction="{{server_url}}/">store take</button-->
        <button type="submit" formaction="{{server_url}}/cameras/newtake">new take</button>
        <button type = "submit" value = "{{current_take_neat}}" onclick = "return getTakeName();" formaction="{{server_url}}/cameras/renametake">rename take</button>
        <input type="text" id="takename" name="takename" value="{{current_take_neat}}" size="6" hidden>
        <button type="submit" formaction="{{server_url}}/cameras/psxsnapshots" onclick = "return confirm('Generate psx from single frame?');">psx from snapshot images</button>
        <button type="submit" formaction="{{server_url}}/cameras/voltftake">voltf from videos</button>
        <button type="submit" formaction="{{server_url}}/cameras/psxvoltf">psx from voltf</button>
    </div>
    <h4>Takes</h4>
        <div class="takes">
    {% for take in available_takes %}
         <span class="{% if take.name == current_take_neat %}current{% endif %}"><a href="{{server_url}}/cameras/settake/?settake={{take.name}}">{{take.name}}</a></span>
    {% else %}
    <p>No takes available. Record a take using the camera rig.</p>
    {% endfor %}
        </div>

    </div>
</form>


<script language="JavaScript">
    function toggle(source) {
      checkboxes = document.getElementsByName('camera');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }

    }

    function getTakeName() {
       var retVal = prompt("Name : ", "{{current_take_neat}}");
       document.getElementById("takename").value = retVal;
    }

    function getSnapshotName() {
       var retVal = prompt("Name : ", "{{current_time_neat}}");
       document.getElementById("snapshotname").value = retVal;
    }

    function getDuration() {
       var retVal = prompt("Duration : ", "{{duration}}");
       document.getElementById("duration").value = retVal;
    }

    function getTrackDuration() {
       var retVal = prompt("Duration (seconds): ", "{{trackDuration}}");
       document.getElementById("trackDuration").value = retVal;
    }


document.getElementById("btnUpdateIn").addEventListener("click", function(event){
  event.preventDefault()
});

document.getElementById("btnUpdateOut").addEventListener("click", function(event){
  event.preventDefault()
});


function update_in_video_times() {
    console.log("video times");
    var videos = document.getElementsByName('video');
    var ins = document.getElementsByName('in');
    var ms = document.getElementsByName('in_point[]');
    for(var i=0, n=videos.length;i<n;i++) {
        var t = videos[i].currentTime;
        console.log(i,t);
        ins[i].value = t;
        ms[i].value = Math.round(t * 1000);
    }
}

function update_out_video_times() {
    console.log("video times");
    var videos = document.getElementsByName('video');
    var outs = document.getElementsByName('out');
    var ms = document.getElementsByName('out_point[]');
    for(var i=0, n=videos.length;i<n;i++) {
        var t = videos[i].currentTime;
        console.log(i,t);
        outs[i].value = t;
        ms[i].value = Math.round(t * 1000);
    }
}


</script>
</body>
</html>
